


<div class="confirmation" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1 class="confirm-head">Congratulations</h1>
    <p class="confirm-text">We'll see you on <%= @booking.start_date.strftime("%e %B %Y") %>! Thank you for booking <%= @booking.venue.title %> with VenuLet</p>
  </div>
</div>
    <div class="card-confirm">
      <% if @booking.venue.photo.attached? %>
        <%= cl_image_tag @booking.venue.photo.key %>
        <% end %>
    <div class="text-container">
      <div class="card-trip-infos">
        <div>
          <h2><%= @booking.venue.title %></h2>
          <p><%= @booking.venue.description %></p>
        </div>
          <h2 class="card-trip-pricing">£<%= @booking.venue.rate %></h2>
        </div>
      </div>
    </div>
    <div class='d-flex justify-content-between button-container'>
      <%= link_to "All Venues", venues_path, class: "return-button" %>
      <%= link_to "See My Bookings", user_path(current_user), class: "return-button" %>
    </div>
