<div class="container">
  <h2 class="venues-text">All venues</h2>
  <div class='d-flex'>
    <h2 style='margin-right: 20px; font-family: Noto Serif Display, serif; margin-top: 10px'>Filters</h2>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Location"
    %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Size"
    %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Rate"
    %>
    <button type=submit class='search-button'>Find My Venue!</button>
  </div>
  <div class='cards'>
    <% @venues.each do |venue| %>
    <div class="card-venue">
      <div class="card-image" style="background-image: url(<%= venue.image_url %>)">
        <button class="btn btn-light btn-venue">
          <%= link_to "Book now", venue_path(venue), :style=> 'color:white' %>
        </button>
      </div>
      <div class="card-body">
        <div class="card-info">
          <h3><%= venue.title %></h3>
          <p class="location-text"><i class="fa fa-map-pin"></i> <%= venue.location %></p>
          <p><%= venue.description.split('.')[0] %>...</p>
        </div>
        <div class="card-price">
          <p>£<%= venue.rate %>/day</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
