<div class="container">
  <h2 class="venues-text">All venues</h2>
  <div class="map-link"><%= link_to 'View Map', map_venues_path %></div>
  <div class='d-flex justify-content-between'>
  <h2 style='margin-right: 20px; font-family: Noto Serif Display, serif; margin-top: 8px'>Filters</h2>
  <%= form_tag venues_path, class: "filter-form", method: :get do %>
      <%= text_field_tag :location,
      params[:location],
      class: "filter-input",
      placeholder: "Location"
      %>
      <%= text_field_tag :min_size,
      params[:min_size],
      class: "filter-input",
      placeholder: "Min Size Sq M"
      %>
      <%= text_field_tag :max_size,
      params[:max_size],
      class: "filter-input",
      placeholder: "Max Size Sq M"
      %>
      <%= text_field_tag :min_price,
      params[:min_price],
      class: "filter-input",
      placeholder: "Min Price"
      %>

      <%= text_field_tag :max_price,
      params[:max_price],
      class: "filter-input",
      placeholder: "Max Price"
      %>
    <%= submit_tag "Find My Venue!", class: "filter-submit-button" %>
    <% end %>
  </div>
  <div class='cards'>
    <% @venues.each do |venue| %>
    <div class="card-venue">
      <div class="card-image" style="background-image: url(<%= cl_image_path venue.photo.key %>)">
        <button class="btn btn-light btn-venue">
          <%= link_to "Book now", venue_path(venue), :style=> 'color:white' %>
        </button>
      </div>
      <div class="card-body">
        <div class="card-info">
          <h3><%= venue.title %></h3>
          <p class="location-text"><i class="fa fa-map-pin"></i> <%= venue.location %></p>
          <p style='margin-top: -20px'><%= venue.description.split(' ')[0..20].join(" ") %>...</p>
        </div>
        <div class="card-price">
          <p>£<%= venue.rate %>/day</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
