<div class="image-box" > <%= cl_image_tag @venue.photo.key %></div>

<div class="container-md pt-3 pb-3">

  <div class="d-flex" >
    <div style="width: 70%;">
      <h2 class="title-host" style=" margin-top: 16px ; font-weight: bold ">
        <%= @venue.title %>  &nbsp |  <span style="font-size: 23px;"> <i id="pin" class="fa fa-map-pin"></i> <%= @venue.location %> </span>
      </h2>


      <h5 class="host-user">Hosted by: user<%= @venue.user_id %></h5>
      <p class="meter"><%= @venue.square_meters %> m²</p>
      <p class="price"> £<%= @venue.rate %> per day</p>

      <div class="line-divider"> </div>


      <div class="description"><p style=" width: 100% "><%= @venue.description %></p></div>

    </div>
    <div style="width:30%; margin-top: 16px "class="owner-info">
      <%= simple_form_for [@venue, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Book now", class:'submit-button' %>
      <% end %>
    </div>
  </div>
</div>


<div>
<%#
  <h3>You May Also Like</h3>

  <div class="extra-card"></div>
  <div class="extra-card"></div>
  <div class="extra-card"></div>
</div> %>
